
 @import "bootstrap-sprockets";
 @import "bootstrap";
 
 * {
     box-sizing: border-box;
 }
 
 html {
     height: 100%;
 }
 
 body {
     height: 100%;
   background: -webkit-linear-gradient(90deg, #B0B0B0 10%, #B0B0B0 90%);
   background:    -moz-linear-gradient(90deg, #B0B0B0 10%, #B0B0B0 90%);
   background:     -ms-linear-gradient(90deg, #B0B0B0 10%, #B0B0B0 90%);
   background:      -o-linear-gradient(90deg, #B0B0B0 10%, #B0B0B0 90%);
   background:         linear-gradient(90deg, #B0B0B0 10%, #B0B0B0 90%);
   font-family: 'Lato', sans-serif;
 }
 
 .clearfix:before,
 .clearfix:after {
   content: " ";
   display: table;
 }
 
 .clearfix:after {
   clear: both;
 }
 
 .navbar-default {
     background-color: white;
     border-radius: 0;
     height: 80px;
     padding: 15px 0;
     border: none;
 }
 
 .navbar-brand {
     text-transform: uppercase;
     letter-spacing: -1px;
     font-size: 2em;
     font-weight: 300;
     color: #1D976C !important;
 }
 
 #jobs {
     .job {
         padding: 1em 0;
         border-bottom: 1px solid rgba(199, 194, 194, 0.5);
         h2 {
             font-size: 2.5em;
             font-weight: 300;
             margin-bottom: 0;
             color: Black;
             a {
                 color: rgb(4, 61, 134);
             }
         }
         p {
             color: rgba(6, 40, 114, 0.5);
         }
     }
 }
 
 #links {
     margin-top: 2em;
 }